@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
* {
    padding: 0;
    margin: 0;
}
:root {
    --cor1: #000C1D;
    --cor2: #78F557;
    --cor3: #F52B18;
    --cor4: #0CE7F5;

    --tituloP: 'Righteous', cursive;
    --tituloS: 'Quicksand', sans-serif;
    --corpo: 'Source Code Pro', monospace;
}

body {
    background-image: linear-gradient(to bottom, var(--cor1), #003074);
    max-width: 1200px;
    margin: auto;
}

/* Configurações do header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    border-bottom: 1px solid white;
}

header h1 {
    font: 3em var(--tituloP);
    color: var(--cor2);
    transition: all .5s ease-in-out;
    cursor: default;
    padding: 0 2px 0 0;
    border-right: 2px solid #78F557;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor .8s steps(40) infinite normal, typing .8s 1s steps(50) normal ;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 8.4em;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color: #78F557;
    }
    to{
        border-right-color: transparent;
    }
}

/* Configurações do main */

#info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px;
    border-bottom: 1px solid white;
}

#info div {
    width: fit-content;
}

#info div h3 {
    font: bold 1.7em var(--tituloS);

}

#info p {
    font: 13pt var(--corpo);
    color: white;
    width: 300px;
}

#info #oqfc h3 {
    color: var(--cor3);
}
#info #oqfc p, #linguag p, #estudo p {
    margin: 10px 0 150px 20px;
}

#info #linguag {
    margin-left: auto;
}

#info #linguag h3 {
    color: var(--cor4);
}

#info #estudo p {
    margin: 10px 0 0 20px;
}

#info #estudo h3 {
    color: var(--cor2);
}

#proj {
    padding: 50px;
    border-bottom: 1px solid white;
}

#proj h2 {
    font: bold 1.7em var(--tituloS);
    color: var(--cor3);
    text-align: center;
    margin-bottom: 30px;
}

#proj p {
    font: normal 13pt var(--corpo);
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#proj ul {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
}

#proj li {
    list-style: none;
    border: 1px solid white;
    width: 250px;
    height: 200px;
    margin: 10px;
}

#proj li img {
    width: 250px;
}

#redes {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    border-bottom: 1px solid white;
}

#redes #text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#redes h2 {
    font: 2.2em var(--tituloP);
    color: white;
}

#redes ul {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    min-width: 600px;
}

#redes li {
    text-align: center;
    border: 1px solid white;
    width: 240px;
    height: 170px;
    margin: 10px;
    list-style: none;
    border-radius: 10px;
    transition: all .1s ease-in-out;
    cursor: pointer;
    background-color: white;
    padding: 10px;
}

#redes li .icon {
    font-size: 40px;
    color: var(--cor1);
    margin-bottom: 20px;
}

#redes li p {
    font: normal 12pt var(--tituloS);
}

#redes li:hover {
    transform: translateY(-10px);
}

#redes #rCaixa a {
    text-decoration: none;
    color: black;
}

#contact {
    padding: 50px 10px;
}

#contact h2 {
    font: bold 1.7em var(--tituloS);
    color: var(--cor4);
    text-align: center;
    padding: 0 0 20px 0;
}

#contact p {
    font: normal 13pt var(--corpo);
    color: white;
    text-align: center;
}
/* Configurações das IMG */

    

/* Configuração do footer */

footer {
    background-color: black;
    padding: 10px;
}

footer p {
    font: lighter 12pt var(--tituloS);
    color: white;
    text-align: center;
}

footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

@media (max-width: 760px) {
    #redes {
        flex-direction: column;
    }
    #redes h3 {
        margin: 0 0 50px 0;
    }
}

@media (max-width: 650px){
    #redes #rCaixa {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 0;
        margin: auto;
    }
}

@media (max-width: 400px){
    header h1 {
        font-size: 1.5em;
    }

    #info {
        text-align: justify;
        padding: 50px 0;
    }

    #info div {
        margin: auto;
    }

    #info div h3 {
        font-size: 1.5em;
        width: 200px;
        text-align: center;
    }

    #info #oqfc p, #linguag p, #estudo p {
        margin: 10px 0;
    }

    #info #estudo p {
        margin: 10px 0 0 0;
    }

    #info p {
        width: 200px;
        font-size: 1em;
    }

    #redes h2 {
        padding: 0 0 30px 0;
    }
}