@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #0F222D;
    --cor2: #2A3C47;
    --cor3: #BA3521;
    --cor4: #EBE7D9;
    --cor5: #FFF5D0;

    --roboto: 'Roboto', cursive;
}

/* Configuração do nav */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo{
    margin-right: 40em;
}

#logo img {
    width: 45px;
    padding: 2px 0;
    transition: all .1s ease-in-out;
}

#logo img:hover {
    transform: translateY(4px);
}

#links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#links ul li {
    margin-right: 50px;
}

#links ul li a {
    text-decoration: none;
    color: white;
    font: 400 17px var(--roboto);
    transition: all .1s ease-in-out;
}

#links ul li:hover a {
    color: var(--cor4);
    text-decoration: underline;
}

/* Configuração do header */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hello {
    margin-left: 30px;
}

#hello img {
    width: 500px;
}

#tittle {
    font: bold 20px var(--roboto);
    color: var(--cor2);
}

#tittle span {
    font: 600 1.3em var(--roboto);
    color: var(--cor1);
}

/* Configuração do main/sobre */

#sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: var(--cor1);
}

#phone {
    margin-right: 100px;
}

#phone img {
    width: 450px;
}

#about {
    width: 400px;
}

#about h2 {
    font: bold 30px var(--roboto);
    color: white;
}

#about p {
    font: normal 20px var(--roboto);
    margin: 20px 0 0 20px;
    color: white;
}

/* Configuração do main/projetos */

#projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: var(--cor2);
}

#post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projetos #desc {
    margin: 0 10em 0 10em;
    width: 300px;
}

#projetos #desc #titulo {
    font: 600 30px var(--roboto);
    color: var(--cor5);
}

#projetos #desc #descri {
    font: 400 20px var(--roboto);
    color: var(--cor4);
}

#projetos #desc #descri a {
    text-decoration: underline;
    color: var(--cor5);
    font: 500 20px var(--roboto);
    transition: color .2s ease-in-out;
}

#projetos #desc #descri a:hover {
    color: var(--cor4);
}

#projetos #proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#projetos #proj #botoes {
    display: flex;
    flex-direction: row;
}

#projetos #exp h3 {
    font: 500 23px var(--roboto);
    color: var(--cor5);
    margin: 10px;
}

.container {
    width: 494px;
    height: 285px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.container .content {
    width: 494px;
    height: 285px;
    display: flex;
    flex-direction: row;
}

.container .content img {
    width: 500px;
    position: absolute;
}

#btn1, #btn2 {
    cursor: pointer;
    margin: 5px;
}

#tecnologia {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#tecnologia li {
    margin: 10px;
}

#tecnologia li img {
    width: 50px;
}

/* Configuração do main/contato */

#contato {
    height: 100vh;
}

#contato > .box{
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contato h2 {
    font: 600 30px var(--roboto);
    color: var(--cor1);
    text-align: center;
    margin: 30px;
}

#contato #mail img {
    width: 400px;
    margin-right: 15em;
}

#contato #contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato #contact-box input {
    width: 300px;
    height: 35px;
    border: 2px solid var(--cor1);
    margin: 3px;
    border-radius: 5px;
    padding: 5px;
    font: 400 15px var(--roboto);
}

#contato #contact-box #mensag {
    height: 100px;
    border: 2px solid var(--cor1);
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    font: 400 15px var(--roboto);
}

#contato #contact-box button {
    width: 315px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor3);
    color: white;
    font: 500 15px var(--roboto);
    transition: all .1s ease-in-out;
    cursor: pointer;
}

#contato #contact-box button:hover {
    transform: scale(1.03);
}

/* Configuração do footer */

footer {
    background-color: var(--cor5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fonte {
    display: flex;
    flex-direction: row;
    margin: 20px 10em 20px 0;
}

#fonte h3 {
    font: 600 20px var(--roboto);
    color: var(--cor1);
}

#fonte ul {
    list-style: none;
    margin-left: 30px;
}

#fonte li {
    font: 400 16px var(--roboto);
    line-height: 1.6em;
}

#fonte li a {
    color: var(--cor2);
    font-weight: 600;
    transition: color .1s ease-in-out;
}

#fonte li a:hover {
    color: black;
}

#fonte li a:active {
    color: var(--cor3);
}

#fonte li a:visited {
    color: gray;
}

#credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#credit p {
    font: 500 20px var(--roboto);
    color: var(--cor1);
}

#credit ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#credit li {
    margin: 5px;
}

@media (max-width: 1070px){

/* Responsividade do nav */

    #logo {
        margin: 0 60px 0 0;
    }

    #links ul li {
        margin: 0 10px;
    }

/* Responsividade do header */

    header {
        flex-direction: column;
    }

    #tittle {
        text-align: center;
        margin: 4em 0;
    }

    #hello img {
        width: 400px;
    }

/* Responsividade do main/sobre */

    #sobre {
        flex-direction: column;
        text-align: center;
    }

    #phone img {
        width: 300px;
        margin: 0 0 3em 0;
    }

/* Responsividade do main/projeto */

    #projetos {
        flex-direction: column;
        text-align: center;
    }

    #projetos #desc #titulo {
        font-size: 25px;
    }

    #projetos #desc #descri {
        font-size: 17px;
    }

    #projetos #desc #descri a {
        font-size: 17px;
    }

    #projetos #desc #descri {
        margin: 10px; 
    }

    .container {
        width: 294px;
        height: 185px;
    }

    .container .content {
        width: 294px;
        height: 185px;
    }

    .container .content img {
        width: 300px;
    }

/* Responsividade main/contato */

    #contato .box {
        flex-direction: column;
    }

    #contato #mail img {
        margin: 20px 0;
        width: 300px;
    }

    #contato #contact-box button {
        height: 50px;
    }
}

@media (max-width: 600px){

/* Nav */

    nav {
        z-index: -1;
        opacity: 0;
    }

/* Header */

    header {
        height: 90vh;
    }

    #tittle {
        font-size: 15px;
    }

    #hello img {
        width: 280px;
    }

/* Main */
    /* Sobre */

        #phone img {
            width: 200px;
        }

        #about {
            width: 300px;
        }

        #about h2 {
            font-size: 25px;
        }

        #about p {
            font-size: 15px;
        }

    /* Projetos */

        #projetos #proj {
            flex-direction: column;
        }
/* Footer */

    footer {
        flex-direction: column;
        text-align: center;
    }

    #fonte {
        margin: 20px 0;
    }
}